<h2>list</h2>

<!--
<rp-user-list-item [class]="selectedClassName">User 1</rp-user-list-item>
<p>{{selectedUser | json }}</p>
<hr #rule>
-->
<!--

<span *ngIf="selectedUser">
  Selktiert wurd:
  {{selectedUser.firstname}}
  {{selectedUser.lastname}}
</span>
<span *ngIf="!selectedUser">
  bitte wähle einen User
</span>
-->


<!--
<ng-template [ngIf]="true">
  <br>
  <span>hello world</span>
  <hr>
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
</ng-template>
-->



<span *ngIf="selectedUser; else noUsrSelected">
  Selktiert wurd:
  {{selectedUser.firstname}}
  {{selectedUser.lastname}}
</span>
<ng-template #noUsrSelected>
    bitte wähle einen User
</ng-template>

<!--
<ul>
  <li
    *ngFor="let item of [1,2,3,4,5]; index as i; first as f; even as e"
    [class.even]="e"
  >
    #{{i}} - {{item}} {{f}} {{e}}
  </li>
</ul>
-->


<rp-user-list-item  *ngFor="let user of userList"
                    (selectUsr)="selectUser( $event )"
                    [user]="user">
</rp-user-list-item>
<!--

<rp-user-list-item (selectUsr)="selectUser( $event )"
                   [user]="userList[1]">
</rp-user-list-item>
-->


 <input type="text"
       #firstname
       placeholder="firstname">
 <input type="text"
       #lastname
       placeholder="lastname">
<button (click)="addUser( firstname.value, lastname.value)">add</button>
<button *ngIf="selectedUser" (click)="delSelected()">del selected</button>

