:host {
  ::ng-deep a[routerLinkActive].active {
    color: green;
    font-size: larger;
    cursor: default;
  }
  div.modal {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background-color: darkgray;
    display: none;
    button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    &.active {
      display: block;
    }
  }
}
