<h1>{{title}}</h1>

<!--

<rp-content-sample>
  <rp-countdown></rp-countdown>
  <rp-countdown></rp-countdown>
  Inhalte
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
  <rp-countdown></rp-countdown>
  <rp-countdown></rp-countdown>
</rp-content-sample>
-->

<!--
<rp-countdown></rp-countdown>
<rp-countdown style="width: 200px"></rp-countdown>
<rp-countdown style="width: 100px"></rp-countdown>
-->
<!--
<h3 *ngIf="action">Benutzer {{action}}</h3>
<rp-user>show user</rp-user>
-->

<!--
-->
<!--
ng g m pipeSamples --module app
erstellt Modul.... importiert das Modul im AppModule
ng g c pipeSamples/pipeSamples --export --flat --skip-tests
erstellt Componente... erlaubt des Export der Componente, kein eigener Ordner, keine Tests
<rp-pipe-samples></rp-pipe-samples>
-->

<!--
<rp-rxjs-samples></rp-rxjs-samples>
<rp-countdown></rp-countdown>
-->

<a routerLinkActive="active" routerLink="home">home</a> |
<a routerLinkActive="active" routerLink="users">users</a> |
<a routerLinkActive="active" routerLink="countdown">countdown</a>
<router-outlet></router-outlet>
