<!--
<dvz-pipe-samples></dvz-pipe-samples>
<p>{{$dummy.wert1}}</p>
<dvz-rxjs-sample></dvz-rxjs-sample>
-->
<!--
<dvz-user dvzDangerBtn color="black"></dvz-user>
<dvz-countdown></dvz-countdown>
<dvz-countdown style="width: 300px"></dvz-countdown>
<dvz-countdown style="width: 100%"></dvz-countdown>
-->

<h1 *ngIf="$loading.counter>0">loading</h1>

<nav>
  <a routerLink="home"
  routerLinkActive="active">home</a> |
  <a routerLink="dash"
  routerLinkActive="active">dash</a> |
  <a routerLink="contact"
  routerLinkActive="active">contact</a> |
  <a routerLink="user"
     routerLinkActive="active">user</a>
</nav>

<router-outlet></router-outlet>
<br>
<footer>netTrek</footer>
