<h1>{{title}}</h1>
<!--

<rp-content-sample>
  <rp-countdown></rp-countdown>
  <rp-countdown></rp-countdown>
  Inhalte
  <ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
  </ul>
  <rp-countdown></rp-countdown>
  <rp-countdown></rp-countdown>
</rp-content-sample>
-->

<!--
<rp-countdown></rp-countdown>
<rp-countdown style="width: 200px"></rp-countdown>
<rp-countdown style="width: 100px"></rp-countdown>
-->

<rp-user>show user</rp-user>
<!--
-->
<!--
ng g m pipeSamples --module app
erstellt Modul.... importiert das Modul im AppModule
ng g c pipeSamples/pipeSamples --export --flat --skip-tests
erstellt Componente... erlaubt des Export der Componente, kein eigener Ordner, keine Tests
<rp-pipe-samples></rp-pipe-samples>
-->

<rp-rxjs-samples></rp-rxjs-samples>
<!--
<rp-countdown></rp-countdown>
-->
