:host {
  display: block;
  background-color: yellowgreen;
  cursor: pointer;
  user-select: none;
  &::before {
    content: '- ';
  }
  &.selected {
    background-color: red;
    cursor: not-allowed;
  }
}
