:host {
  display: block;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &.selected {
    color: red;
  }

  &.even {
    background-color: #b4ff45;
  }

  &.odd {
    background-color: #88c134;
  }
}
