<!--
compiler macht aus *
<h1 *ngIf="selectedUsr">selected {{selectedUsr | json}}</h1>
ein Template
<ng-template [ngIf]="selectedUsr">
  <h1>selected {{selectedUsr | json}}</h1>
</ng-template>
-->

<h1 *ngIf="selectedUsr; else elseRef">selected {{selectedUsr | json}}</h1>
<ng-template #elseRef>
  <h1>No user selected</h1>
</ng-template>

<dvz-user-item
  [user]="userList[0]"
  [selected]="selectedUsr === userList[0]"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>
<dvz-user-item
  [user]="userList[1]"
  [selected]="selectedUsr === userList[1]"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>
<dvz-user-item
  [user]="userList[2]"
  [selected]="selectedUsr === userList[2]"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>
