<!--

<ul>
  <li
    *ngFor="let interator of ['saban','peter','uenlue']; index as i; first as f, last as l; even as e; odd as o" [class.even]="e" [class.odd]="o" >
    {{i}} {{interator}} {{f}} {{l}} {{e}} {{o}}
  </li>
</ul>

-->


<!--
compiler macht aus *
<h1 *ngIf="selectedUsr">selected {{selectedUsr | json}}</h1>
ein Template
<ng-template [ngIf]="selectedUsr">
  <h1>selected {{selectedUsr | json}}</h1>
</ng-template>
-->

<h1 *ngIf="selectedUsr; else elseRef">selected {{selectedUsr | json}}</h1>
<ng-template #elseRef>
  <h1>No user selected</h1>
</ng-template>

<dvz-user-item
  *ngFor="let user of userList; even as e; odd as o"
  [ngClass]="{even: e, odd: o}"
  [user]="user"
  [selected]="selectedUsr === user"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>

<div></div>
<button (click)="addUser()">add new user</button>
<button
  [dvzDanger]="'Willst du ' + selectedUsr?.firstname + ' wirklich löschen'"
  [disabled]="!selectedUsr"
    (confirmed)="delSelected()">
    remove selected user</button>
<button dvzDanger [disabled]="userList.length === 0"
    (confirmed)="delLast()">
    remove last user</button>
<!--

<dvz-user-item
  [user]="userList[0]"
  [selected]="selectedUsr === userList[0]"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>
<dvz-user-item
  [user]="userList[1]"
  [selected]="selectedUsr === userList[1]"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>
<dvz-user-item
  [user]="userList[2]"
  [selected]="selectedUsr === userList[2]"
  (selectUsr)="setSelectedUsr($event)"></dvz-user-item>
-->
