:host {
  display: inline-block;
  border: 1px solid red;
  float: left;
}
/*
Beispiele für Klassen Bindung
.red {
  background-color: red;
}

.green {
  background-color: green;
}

.selected {
  background-color: yellow;
}
*/
