<rp-user-list></rp-user-list>


<!--
<div class="saban" [class]="classList">Saban</div>
<div class="saban" [ngClass]="classList">Saban Klaus</div>
<div class="saban" [ngClass]="{wahr: true, falsch: false}">Saban Klaus</div>

<rp-user-list (mousemove)="over( $event )"></rp-user-list>
<h1>Herr/Frau {{name}}</h1>

<button (click)="changeName()">klick mich</button>

<div>{{htmlStr}}</div>
<div [innerHTML]="htmlStr"></div>

<img [attr.src]="catfile2" [attr.alt]="'Katzenbild' + ind " >
-->

<!--
<div [style.width]="width+'%'"></div>

<div [style.width.%]="width"></div>

<img [src]="catfile2" alt="cat">

<ul>
  <li>bitte nie statisch werte binden {{1+2}}</li>
  <li>methoden rückgabe {{getCounter()}} --- nur wenn wirklich notwendig</li>
</ul>

<img src="./assets/images/cat{{ind}}.jpeg" alt="cat"
     (click)="toggleCat()">
<img src="./assets/images/{{catfile}}" alt="cat">
-->

