h1 {
  color: cornflowerblue;
}
// ohne attribut selector
::ng-deep.myButton {
  background-color: coral;
}

// direkte styles auf der Komponente
:host {
  background-color: azure;
  display: block
}

.content {
  display: inline-block;
  background-color: cornflowerblue;
}

.green-font {
  color: green;
}

.blue-font {
  color: blue;
}

.bold-font {
  font-weight: bolder;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}
