<h4>{{name}}</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid culpa ducimus in modi molestiae non omnis? Enim, nemo voluptate. Culpa delectus expedita incidunt itaque, molestias nobis quam quis vero voluptas?</p>
<button (click)="chgName()">change name</button>
<section>
  <header>
    <h1>Hello</h1>
  </header>
  <article>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid dicta dolores, ducimus eius enim error exercitationem explicabo id, maxime non odit perferendis rem sed sit sunt ut voluptate?
  </article>
  <article>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias aliquid dicta dolores, ducimus eius enim error exercitationem explicabo id, maxime non odit perferendis rem sed sit sunt ut voluptate?
  </article>
</section>
