/* You can add global styles to this file, and also import other style files */
html, body {
  background-color: aquamarine;
}

button, a {
  &.active {
    font-size: large;
    color: red;
    text-decoration: none;
    cursor: auto;
  }
}
/*
h1 {
  background-color: green;
}
*/

